gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
.dart_tool/
.idea/
.vscode/
build/
.pub-cache/
.pub/
android/.gradle/
android/app/build/
ios/Pods/
ios/Runner.xcworkspace/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
